

<div class="customers-container">
    <h2>Orders</h2>
    <hr>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Address</th>
          <th>Contact No.</th>
          <th>Quantity</th>
          <th>Total Price</th>
          <th>Delivery Date</th>
          <th>Payment Type</th>
          <th>Status</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let order of orders">
         
          <td>{{ order.name }}</td>
          <td>{{ order.address }}</td>
          <td>{{ order.phoneNo }}</td>
          <td>{{ order.quantity }}</td>
          <td>{{ order.totalPrice }}</td>
          <td>{{ order.deliveryDate}}</td>
          <td>{{ order.paymentType }}</td>
          <!-- <td>{{ order.status }}</td> -->
          <td>
            <select name="" id="">{{ order.status }}
              <option value="">Delivered</option>
              <option value="">Pending</option>
            </select>
          </td>
          <td><button>Save</button></td>
        </tr>
      </tbody>
    </table>
  </div>
  