
<div id="title">
    <h2>Dashboard</h2>
  </div>
<hr>
    <div class="dashboard">
        <div class="dashboard-item" id="products">
            <h2>Products</h2>
            <img src="https://pluspng.com/img-png/to-do-list-png-to-do-list-free-icon-512.png" alt="">
            <!-- Add content for products here -->
        </div>
        <div class="dashboard-item" id="orders">
            <h2>Orders</h2>
            <img src="https://th.bing.com/th/id/R.0805f27944c47131dddb1cf59286cf94?rik=9yFy5GwLT2LSeQ&riu=http%3a%2f%2fcdn.onlinewebfonts.com%2fsvg%2fimg_552559.png&ehk=BjYFz%2fcr2qTGjA691l1T0D69G%2bCuu%2fsDRtFsZYEZhBI%3d&risl=&pid=ImgRaw&r=0" alt="">

            <!-- Add content for orders here -->
        </div>
        <div class="dashboard-item" id="customers">
            <h2>Customers</h2>
            <img src="https://i1.wp.com/cdn-icons-png.flaticon.com/512/3126/3126647.png" alt="">
            
            <!-- Add content for customers here -->
        </div>
        <div class="dashboard-item" id="settings">
            <h2>Settings</h2>
            <img src="https://static-00.iconduck.com/assets.00/settings-icon-982x1024-ly8qbieh.png" alt="">
            
            <!-- Add content for settings here -->
        </div>
    
    </div>
    
